/* GENERAL */
#body_index{
    background: url(../img/home_1.png) no-repeat fixed;
    background-size: 100%;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
}

li{
    display: inline;
}

section > li{
    display: table;
    margin: auto;
}

.obj{
    width: 100% !important;
    height: 150px;
}

.centrado{
    text-align: center;
}

.contenedor{
    width: 1024px;
    margin: auto;
    font-size: 20px;
    line-height: 50px;
}

/* BARRA DE NAVEGACIÓN */

.nav_global{
    background: rgba(241, 223, 198, 0.75);
    height: 70px;
    position: relative;
    padding-left: 12.5%;
}

.a_menu{
    font-size: 24px;
    text-decoration: none;
    height: 50px;
    padding: 20px 15px 0 15px;
    color: #000;
    float: left;
}

.a_menu:hover{
    background: rgb(241, 223, 198);
}

/* RESERVAR */

.div_index{
    background: rgba(80, 80, 80, 0.602);
    width: 70%;
    height: 70%;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
}

.btn_a{
    width: 200px;
    margin: auto;
    margin-top: 20%;
    padding: 10;
    display: block;
    color: black;
    background: rgb(100, 228, 88);
    box-shadow: 0 3px 5px 3px rgb(34, 80, 30);
    text-decoration: none;
}

/* PIE DE PÁGINA */

#footer_global{
    width: 100%;
    background: rgba(241, 223, 198, 0.75);
}

.div_footer{
    display: inline-block;
}

.img_footer{
    cursor: pointer;
}

/* GRID */

.contenedor > div{
    /* display: block; */
    color: white;
    background: rgba(11, 19, 13, 0.85);
    box-shadow: 0 0 0 2px rgb(15, 15, 15);
    position: relative;
}

.image{
    margin: auto;
    display: block;
}

.btn_izq{
    width: min-content;
    height: min-content;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: 0;
    left: 1%;
    color: #fff;
    background: rgba(12, 2, 100, 0.75);
    cursor: pointer;
}

.btn_der{
    width: min-content;
    height: min-content;
    position: absolute;
    top: 50%;
    right: 1%;
    bottom: 0;
    left: auto;
    color: #fff;
    background: rgba(12, 2, 100, 0.75);
    cursor: pointer;
}

/* LEAFLET */

#mapid {
    height: 80%;
    width: 80%;
    margin: auto;
}
